:root {
  --blue: #e5edf0;
  --dark: #a1afb8;
  --cream: #4178df;
  --light: #e5edf0; /* keep if intentional */
}

body {
  background-color: #dccbbd;
}

/* Background per card */
.card.blue {
  --bg: var(--blue);
}
.card.cream {
  --bg: var(--cream);
}

/* Apply bg to the correct sections */
.rotate,
.button {
  background: var(--bg);
}

/* Text colors per card */
.card.blue .rotate,
.card.blue .cardtitle,
.btn.dark {
  color: var(--dark);
}

.card.cream .rotate,
.card.cream .cardtitle,
.btn.light {
  color: var(--light);
}

/* Hover */
.btn.dark:hover {
  color: #c32732;
}
.btn.light:hover {
  color: #fb9dfb;
}
.tema-menus a:hover {
  background-color: #4178df;
  color: #e5edf0;
}

.line {
  height: 1px;
  background: #000;
  width: 100%;
  margin: 20px 0;
}

.about-me-block {
  background-color: var(--cream);
  padding: 3em;
  color: var(--light);
}
.mmd-block {
  background-color: var(--blue);
  padding: 3em;
  color: var(--cream);
}
